

/* Start:/bitrix/templates/ozgm/components/bitrix/breadcrumb/breadcrumbs/style.min.css?1495438048448*/
.bx-breadcrumb{margin:10px 0}.bx-breadcrumb i{color:#b5bdc2;line-height:13px;font-size:12px;vertical-align:middle;margin-right:5px}.bx-breadcrumb .bx-breadcrumb-item{float:left;margin-bottom:10px;white-space:nowrap;line-height:13px;vertical-align:middle;margin-right:10px}.bx-breadcrumb .bx-breadcrumb-item span{font-family:"Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:13px}.bx-breadcrumb .bx-breadcrumb-item a{border-bottom:0}
/* End */


/* Start:/bitrix/templates/ozgm/components/bitrix/main.clock/test/style.min.css?1495544114289*/
.bxc-iconkit-c{background-image:url(/bitrix/images/main/clock/clock_iconkit.gif)}.bxc-iconkit-a{background-image:url(/bitrix/images/main/clock/arrows_iconkit.gif)}img.bx-clock-icon{width:18px;height:19px;background-position:0 -95px;border-width:0;margin:1px 1px 1px 6px;vertical-align:top}
/* End */
/* /bitrix/templates/ozgm/components/bitrix/breadcrumb/breadcrumbs/style.min.css?1495438048448 */
/* /bitrix/templates/ozgm/components/bitrix/main.clock/test/style.min.css?1495544114289 */
