

/* Start:/bitrix/templates/ozgm/styles.css?1494854404122024*/

/* End */


/* Start:/bitrix/templates/ozgm/template_styles.css?14948548193515*/
html, body, form
{
	margin: 0;
	padding: 0;
}

html
{
	height:100%;
}

body
{
	height:auto !important;
	height:100%;
	min-height:100%;
	min-width:760px;
}

/*Font*/
body
{
	font-size: 80%;
	font-family: Tahoma, Verdana, Helvetica, sans-serif;
	color: #333;
	background-color: #fff;
}

/*Font in table*/
table
{
	font-size:100%;
}

/*Links*/
a:link {color: #486DAA;}
a:visited{color:#8C9AA8;}
a:active {color: #486DAA;}
a:hover{color:#DD0000;}


small
{
	font-size:85%;
}

hr
{
	width:100%;
	height: 1px;
	border: medium none;
	color: #d1d0d0;
	background-color: #d1d0d0;
	margin:8px 0
}

#header
{
	position:relative; /*containing block*/
	height:106px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	background: #2F4773 url(/bitrix/templates/ozgm/images/header_bg.gif) repeat-x;
	border-bottom:1px solid #D6D6D6;
}

#header_logo
{
	position:absolute;
}

#company_logo
{
	display:block;
	position:absolute;
	width:100px; 
	height:106px; 
	left:165px;
	top: 0;
	background:url(/bitrix/templates/ozgm/images/logo.gif) right center no-repeat;
}

#header_text
{
	position:absolute;
	left:265px;
	top: 0;
	width:330px;
	padding-left:5px;
	padding-top:35px;
	color:#fff;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

#header_text .bx-main-title
{
	margin:0;
	padding:0;
	font-size:160%;
	border:none;
	text-decoration:none;
}

#header_text span.bx-main-subtitle
{
	font-size:80%;
}

/* Header menu: home, search, feedback*/
#header_menu
{

	background:#4B6185;
	position:absolute;
	right:55px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

#header_sites
{
	position:absolute;
	right:55px;
	top: 60px;
	color:#fff;
	text-align:right;
}

#header_sites a, #header_sites span
{
	color:#fff;
	text-decoration:none;
}

#header_sites span
{
	color: #9dabc0;
}

#header_menu a
{
	display:block;
	float:left;
	cursor:pointer; cursor: hand;
	padding:8px 11px;
}

#zebra
{
	height:20px;
	background:transparent url(/bitrix/templates/ozgm/images/zebra_bg.gif) left top repeat-x;
}

#navigation
{

}

/*Navigation*/
#navigation a
{
	font-size:95%;
	text-decoration:none;
	color:#535353;
}

/*Content table*/
#content
{
	width:100%;
	height:70%;
	border-collapse:collapse;
}

/*Left column*/
#content .left-column
{
	width:180px;
	vertical-align:top;
	height:100%;
}

/*Main column*/
#content .main-column
{
	vertical-align:top;
	padding:0 23px 10px 23px;
}

/*Right column*/
#content .right-column
{
	width:1px;
	vertical-align:top;
}

/*Bottom banner*/
#bottom_banner
{
	padding:5px;
	text-align:center;
}

/*Footer*/
#footer
{
	background: #4D6990;
	text-align:right;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	height:40px;
	padding:8px;
	
}

/*Link in footer*/
#footer a
{
	color: #CFD6E1;
	font-size: 100%;
}

/*Data table*/
table.data-table
{
	border:1px solid #99BAD7;
	border-collapse:collapse;
}

/*Any cell*/
table.data-table td
{
	border:1px solid #99BAD7;
	background-color:#FFFFFF;
	color:#333;
	padding:3px 5px;
}

/*Head cell*/
table.data-table thead td, table.data-table th
{
	background-color:#F1F5FA;
	text-align:left;
	font-weight:normal;
	background-image:none;
	border:1px solid #99BAD7;
	padding:4px;
	color:#333;
}

/*Body cell*/
table.data-table tbody td
{
	background-color:#FFF;
	background-image:none;
	color:#333;
}

/*Foot cell*/
table.data-table tfoot td
{
	background-color:#F1F5FA;
	padding:4px;
	color:#333;
}

/*Error & OK messages*/
.errortext
{
	color:red;
}

.notetext
{
	color:green;
}

/* Used to draw a "star" near reqired field */
.starrequired
{
	color:red;
}

/* social network*/
div#sonet_events_ms_message {width:150px;}

/* End */
/* /bitrix/templates/ozgm/styles.css?1494854404122024 */
/* /bitrix/templates/ozgm/template_styles.css?14948548193515 */
