

/* Start:/bitrix/templates/ozgm/components/bitrix/breadcrumb/breadcrumbs/style.min.css?1495438048448*/
.bx-breadcrumb{margin:10px 0}.bx-breadcrumb i{color:#b5bdc2;line-height:13px;font-size:12px;vertical-align:middle;margin-right:5px}.bx-breadcrumb .bx-breadcrumb-item{float:left;margin-bottom:10px;white-space:nowrap;line-height:13px;vertical-align:middle;margin-right:10px}.bx-breadcrumb .bx-breadcrumb-item span{font-family:"Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:13px}.bx-breadcrumb .bx-breadcrumb-item a{border-bottom:0}
/* End */


/* Start:/bitrix/components/bitrix/photo.section/templates/.default/style.css?1494851856293*/
div.photo-section table.data-table tr.head-row td {
	padding:10px 5px;
	border-bottom:none;
}
div.photo-section table.data-table tr.data-row {
	border-top:none;
	border-bottom:none;
}
div.photo-section table.data-table th.data-cell {
	border-top:none;
	border-bottom:none;
	padding:2px 2px;
}

/* End */
/* /bitrix/templates/ozgm/components/bitrix/breadcrumb/breadcrumbs/style.min.css?1495438048448 */
/* /bitrix/components/bitrix/photo.section/templates/.default/style.css?1494851856293 */
