

/* Start:/bitrix/components/bitrix/menu/templates/blue_tabs/style.min.css?1494851847778*/
div.blue-tabs-menu{float:left;width:100%;background:#bbd9ee;font-size:93%;line-height:normal}div.blue-tabs-menu ul{margin:0;padding:10px 10px 0 10px;list-style:none}div.blue-tabs-menu li{display:inline;margin:0;padding:0}div.blue-tabs-menu a{float:left;background:url("/bitrix/components/bitrix/menu/templates/blue_tabs/images/tableft.gif") no-repeat left top;margin:0;padding:0 0 0 4px;text-decoration:none;margin-top:.2em}div.blue-tabs-menu a nobr{float:left;display:block;background:url("/bitrix/components/bitrix/menu/templates/blue_tabs/images/tabright.gif") no-repeat right top;padding:5px 15px 4px 6px;white-space:nowrap;color:#666}/*\*/div.blue-tabs-menu a nobr{float:none}/**/div.blue-tabs-menu a:hover nobr{color:#ff9834}div.blue-tabs-menu a:hover{background-position:0 -42px}div.blue-tabs-menu a:hover nobr{background-position:100% -42px}div.menu-clear-left{clear:left}
/* End */


/* Start:/bitrix/components/bitrix/menu/templates/grey_tabs/style.min.css?1494851847775*/
div.grey-tabs-menu{float:left;width:100%;background:#f4f4f4;font-size:93%;line-height:normal}div.grey-tabs-menu ul{margin:0;padding:10px 10px 0 10px;list-style:none}div.grey-tabs-menu li{display:inline;margin:0;padding:0}div.grey-tabs-menu a{float:left;background:url("/bitrix/components/bitrix/menu/templates/grey_tabs/images/tableft.gif") no-repeat left top;margin:0;padding:0 0 0 4px;text-decoration:none;margin-top:.2em}div.grey-tabs-menu a nobr{float:left;display:block;background:url("/bitrix/components/bitrix/menu/templates/grey_tabs/images/tabright.gif") no-repeat right top;padding:5px 15px 4px 6px;white-space:nowrap;color:#666}/*\*/div.grey-tabs-menu a nobr{float:none}/**/div.grey-tabs-menu a:hover nobr{color:#000}div.grey-tabs-menu a:hover{background-position:0 -42px}div.grey-tabs-menu a:hover nobr{background-position:100% -42px}div.menu-clear-left{clear:left}
/* End */


/* Start:/bitrix/components/bitrix/menu/templates/tree/style.min.css?1494851847747*/
div.menu-sitemap-tree{font-size:100%}div.menu-sitemap-tree ul{list-style-type:none;margin:0;padding:0 1em 0 0}div.menu-sitemap-tree ul ul{width:auto;margin:-0.75em 0 0 0;padding:0 0 0 .75em}div.menu-sitemap-tree li{margin:0 0 -0.85em 0;padding:0}div.menu-sitemap-tree li li{margin:0 0 -0.85em .5em;padding:0}div.menu-sitemap-tree li.menu-close ul{display:none}div.menu-sitemap-tree div.item-text{position:relative;top:-19px;left:19px}div.folder,div.page{background-repeat:no-repeat;width:17px;height:17px;vertical-align:top}div.folder{cursor:pointer;cursor:hand;background-image:url(/bitrix/components/bitrix/menu/templates/tree/images/folder_open.gif)}div.menu-sitemap-tree li.menu-close div.folder{background-image:url(/bitrix/components/bitrix/menu/templates/tree/images/folder_close.gif)}div.page{background-image:url(/bitrix/components/bitrix/menu/templates/tree/images/page.gif)}
/* End */
/* /bitrix/components/bitrix/menu/templates/blue_tabs/style.min.css?1494851847778 */
/* /bitrix/components/bitrix/menu/templates/grey_tabs/style.min.css?1494851847775 */
/* /bitrix/components/bitrix/menu/templates/tree/style.min.css?1494851847747 */
