

/* Start:/bitrix/components/demo/news.detail/templates/.default/style.css?149485256196*/
div.news-detail img
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */
/* /bitrix/components/demo/news.detail/templates/.default/style.css?149485256196 */
