

/* Start:/bitrix/components/bitrix/catalog.section.list/templates/.default/style.css?14948518567305*/
/* line */
.bx_catalog_line{margin-bottom: 30px;}
.bx_catalog_line .bx_catalog_line_category_title{
	padding-bottom: 14px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 24px;
}
.bx_catalog_line .bx_catalog_line_category_title a{
	color: #000;
	text-decoration: none;
}

.bx_catalog_line .bx_catalog_line_ul{padding: 0;}
.bx_catalog_line .bx_catalog_line_ul li{
	margin-bottom: 20px;
	list-style: none;
}
.bx_catalog_line .bx_catalog_line_ul li:before {content: '' !important}

.bx_catalog_line .bx_catalog_line_img{
	position: relative;
	display: block;
	float: left;
	overflow: hidden;
	margin-right: 40px;
	width: 125px;
	height: 125px;
	border:1px solid #ccc;
	border-radius: 2px;
			background-position: center;
			background-repeat: no-repeat;
	-webkit-background-size:contain;
			background-size:contain;
}

.bx_catalog_line .bx_catalog_line_title{
	margin-bottom: 10px;
	padding: 0;
	vertical-align: top;
	line-height: 18px;
}
.bx_catalog_line .bx_catalog_line_title a{
	color: #4c7da6;
	font-size: 18px;
}
.bx_catalog_line .bx_catalog_line_title a:hover{text-decoration: none;}
.bx_catalog_line .bx_catalog_line_title span{font-size: 16px}
.bx_catalog_line .bx_catalog_line_description{
	color: #3f3f3f;
	font-size: 13px;
	line-height: 16px;
}


@media (max-width:639px) {
	.bx-touch .bx_catalog_line .bx_catalog_line_img{
		margin-right: 10px;
		width: 50px;
		height: 50px;
	}

	.bx-touch .bx_catalog_line .bx_catalog_line_title{
		margin-bottom: 5px;
		line-height: 14px;
	}
	.bx-touch .bx_catalog_line .bx_catalog_line_title a{font-size: 14px;}
	.bx-touch .bx_catalog_line .bx_catalog_line_description{font-size: 11px;}
}



.bx_catalog_line .bx_catalog_line_img,
.bx_catalog_line .bx_catalog_line_title,
.bx_catalog_line .bx_catalog_line_title a,
.bx_catalog_line .bx_catalog_line_description{
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
	 		transition: all 0.3s ease;
}

/* text */
.bx_catalog_text{margin-bottom: 30px;}
.bx_catalog_text .bx_catalog_text_category_title{
	padding-bottom: 14px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 24px;
}
.bx_catalog_text .bx_catalog_text_category_title a{
	color: #000;
	text-decoration: none;
}

.bx_catalog_text .bx_catalog_text_ul{padding: 0;}
.bx_catalog_text .bx_catalog_text_ul li{
	float: left;
	margin: 0 10px 10px;
	list-style: none;
}
.bx_catalog_text .bx_catalog_text_ul li:before {content: '' !important}
.bx_catalog_text .bx_catalog_text_title{
	margin: 0;
	padding: 0;
	vertical-align: top;
	line-height: 14px;
}
.bx_catalog_text .bx_catalog_text_title a{
	color: #4c7da6;
	white-space: nowrap;
	font-size: 14px;
}
.bx_catalog_text .bx_catalog_text_title a:hover{text-decoration: none}
.bx_catalog_text .bx_catalog_text_title span{font-size: 12px;}

@media (max-width:639px) {
	.bx-touch .bx_catalog_text .bx_catalog_line_title{
		margin-bottom: 5px;
		line-height: 12px;
	}
	.bx-touch .bx_catalog_text .bx_catalog_line_title a{font-size: 12px;}
}

	.bx_catalog_text .bx_catalog_line_title,
	.bx_catalog_text .bx_catalog_line_title a{
		-webkit-transition: all 0.3s ease;
		   -moz-transition: all 0.3s ease;
		    -ms-transition: all 0.3s ease;
		     -o-transition: all 0.3s ease;
		 		transition: all 0.3s ease;
	}
	
/* tile */

.bx_catalog_tile{margin-bottom: 30px;}
.bx_catalog_tile .bx_catalog_tile_category_title{
	padding-bottom: 14px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 24px;
}
.bx_catalog_tile .bx_catalog_tile_category_title a{
	color: #000;
	text-decoration: none;
}

.bx_catalog_tile .bx_catalog_tile_ul{padding: 0;}
.bx_catalog_tile .bx_catalog_tile_ul li{
	float: left;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	margin-bottom: 20px;
	padding: 0 10px;
	width:12.5%;
	list-style: none;
	text-align: center;
}
.bx_catalog_tile .bx_catalog_tile_ul li:before {content: '' !important}
.bx_catalog_tile .bx_catalog_tile_ul li:nth-child(8n+1){clear: both;}

.bx_catalog_tile .bx_catalog_tile_img{
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0 auto;
	width: 78px;
	height: 78px;
	border:1px solid #ccc;
	border-radius: 2px;
			background-color: #fff;
			background-position: center;
			background-repeat: no-repeat;
	-webkit-background-size:contain;
			background-size:contain;
}
.bx_catalog_tile .bx_catalog_tile_title{
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 0;
	vertical-align: top;
	line-height: 14px;
}
.bx_catalog_tile .bx_catalog_tile_title a{
	color: #4c7da6;
	font-size: 14px;
}
.bx_catalog_tile .bx_catalog_tile_title a:hover{text-decoration: none;}
.bx_catalog_tile .bx_catalog_tile_title span{font-size: 12px;}




/*2*/
@media (max-width:980px){
	.bx_catalog_tile .bx_catalog_tile_ul li{width:20%;}
	.bx_catalog_tile .bx_catalog_tile_ul li:nth-child(8n+1){clear: none;}
	.bx_catalog_tile .bx_catalog_tile_ul li:nth-child(5n+1){clear: both;}
}
/*3*/
@media (max-width:639px) {
	.bx-touch .bx_catalog_tile .bx_catalog_tile_title{
		margin-bottom: 5px;
		line-height: 14px;
	}
	.bx-touch .bx_catalog_tile .bx_catalog_tile_title a{font-size: 11px;}
}
@media (min-width:480px) and (max-width:639px) {
	.bx-touch .bx_catalog_tile .bx_catalog_tile_ul li{width:25%;}
	.bx-touch .bx_catalog_tile .bx_catalog_tile_ul li:nth-child(8n+1){clear: none;}
	.bx-touch .bx_catalog_tile .bx_catalog_tile_ul li:nth-child(4n+1){clear: both;}
}
/*4*/
@media (max-width:479px) {
	.bx-touch .bx_catalog_tile .bx_catalog_tile_ul li{width:33.3%;}
	.bx-touch .bx_catalog_tile .bx_catalog_tile_img{
		width: 100%;
		height: 80px;
	}
	.bx-touch .bx_catalog_tile .bx_catalog_tile_ul li:nth-child(8n+1){clear: none;}
	.bx-touch .bx_catalog_tile .bx_catalog_tile_ul li:nth-child(3n+1){clear: both;}

}


	.bx_catalog_tile .bx_catalog_tile_title,
	.bx_catalog_tile .bx_catalog_tile_title a,
	.bx_catalog_tile .bx_catalog_tile_ul li,
	.bx_catalog_tile .bx_catalog_tile_img{
		-webkit-transition: all 0.3s ease;
		   -moz-transition: all 0.3s ease;
		    -ms-transition: all 0.3s ease;
		     -o-transition: all 0.3s ease;
		 		transition: all 0.3s ease;
	}
	
/* list */

.bx_sitemap{margin-bottom: 30px;}
.bx_sitemap .bx_sitemap_title{
	padding-bottom: 14px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 24px;
}
.bx_sitemap .bx_sitemap_title a{
	color: #000;
	text-decoration: none;
}

.bx_sitemap .bx_sitemap_ul li{
	padding: 0;
	line-height: 14px;
}
.bx_sitemap .bx_sitemap_ul li:before {content: '' !important}
.bx_sitemap .bx_sitemap_li_title{
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
	font-weight: normal;
	line-height: 13px;
	margin-bottom: 10px;
}
.bx_sitemap .bx_sitemap_li_title a{
	color: #4c7da6;
	white-space: nowrap;
	font-size: 13px;
}
.bx_sitemap .bx_sitemap_li_title a:hover{text-decoration: none}
.bx_sitemap .bx_sitemap_li_title span{font-size: 11px;}

@media (max-width:639px) {
	.bx-touch .bx_sitemap .bx_catalog_line_title{
		margin-bottom: 5px;
		line-height: 12px;
	}
	.bx-touch .bx_sitemap .bx_catalog_line_title a{font-size: 12px;}
}

	.bx_sitemap .bx_catalog_line_title,
	.bx_sitemap .bx_catalog_line_title a{
		-webkit-transition: all 0.3s ease;
		   -moz-transition: all 0.3s ease;
		    -ms-transition: all 0.3s ease;
		     -o-transition: all 0.3s ease;
		 		transition: all 0.3s ease;
	}
/* End */


/* Start:/bitrix/templates/ozgm.new/components/bitrix/menu/horizontal_multilevel/style.css?14954304964598*/
/**Top menu**/
#horizontal-multilevel-menu,#horizontal-multilevel-menu ul
{
	margin:0; padding:0;
	background:#BC262C url(/bitrix/templates/ozgm.new/components/bitrix/menu/horizontal_multilevel/images/header_menu_bg.gif) repeat-x;
	min-height:27px;
	width:100%;
	list-style:none;
	font-size:11px;
	float:left;
	/*font-size:90%*/
}

#horizontal-multilevel-menu
{
	
}

/*Links*/
#horizontal-multilevel-menu a
{
	display:block;
	padding:5px 10px;
	/*padding:0.3em 0.8em;*/
	text-decoration:none;
	text-align:center;
}

#horizontal-multilevel-menu li 
{
	float:left;
}

/*Root items*/
#horizontal-multilevel-menu li a.root-item
{
	color:#fff;
	font-weight:bold;
	padding:7px 12px;
}

/*Root menu selected*/
#horizontal-multilevel-menu li a.root-item-selected
{
	background:#fc8d3d;
	color:#fff;
	font-weight:bold;
	padding:7px 12px;
}

/*Root items: hover*/
#horizontal-multilevel-menu li:hover a.root-item, #horizontal-multilevel-menu li.jshover a.root-item
{
	background:#e26336;
	color:#fff;
}

/*Item-parents*/
#horizontal-multilevel-menu a.parent
{
	background: url(/bitrix/templates/ozgm.new/components/bitrix/menu/horizontal_multilevel/images/arrow.gif) center right no-repeat;
}

/*Denied items*/
#horizontal-multilevel-menu a.denied
{
	background: url(/bitrix/templates/ozgm.new/components/bitrix/menu/horizontal_multilevel/images/lock.gif) center right no-repeat;
}

/*Child-items: hover*/
#horizontal-multilevel-menu li:hover, #horizontal-multilevel-menu li.jshover
{
	background:#D6D6D6;
	color:#fff;
}

/*Child-items selected*/
#horizontal-multilevel-menu li.item-selected
{
	background:#D6D6D6;
	color:#fff;
}

/*Sub-menu box*/
#horizontal-multilevel-menu li ul
{
	position:absolute;
	/*top:-999em;*/
	top:auto;
	display:none;
	z-index:500;

	height:auto;
	/*width:12em;*/
	width:135px;
	background:#F5F5F5;
	border:1px solid #C1C1C1;
}

/*Sub-menu item box*/
#horizontal-multilevel-menu li li 
{
	width:100%;
	border-bottom:1px solid #DEDEDE;
}

/*Item link*/
#horizontal-multilevel-menu li ul a
{
	text-align:left;
}

/*Items text color & size */
#horizontal-multilevel-menu li a,
#horizontal-multilevel-menu li:hover li a,
#horizontal-multilevel-menu li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li a
{
	color:#4F4F4F;
	font-weight:bold;
}

/*Items text color & size: hover*/
#horizontal-multilevel-menu li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li.jshover a
{
	color:#4F4F4F;
}

#horizontal-multilevel-menu li ul ul
{
	margin:-27px 0 0 132px;
	/*margin:-1.93em 0 0 11.6em;*/
}

#horizontal-multilevel-menu li:hover ul ul,
#horizontal-multilevel-menu li.jshover ul ul,
#horizontal-multilevel-menu li:hover ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul ul
{
	/*top:-999em;*/
	display:none;
}

#horizontal-multilevel-menu li:hover ul,
#horizontal-multilevel-menu li.jshover ul,
#horizontal-multilevel-menu li li:hover ul,
#horizontal-multilevel-menu li li.jshover ul,
#horizontal-multilevel-menu li li li:hover ul,
#horizontal-multilevel-menu li li li.jshover ul,
#horizontal-multilevel-menu li li li li:hover ul,
#horizontal-multilevel-menu li li li li.jshover ul,
#horizontal-multilevel-menu li li li li li:hover ul,
#horizontal-multilevel-menu li li li li li.jshover ul
{
	/*z-index:1000;
	top:auto;*/
	display:block;
}

div.menu-clear-left
{
	clear:left;
}
/* End */
/* /bitrix/components/bitrix/catalog.section.list/templates/.default/style.css?14948518567305 */
/* /bitrix/templates/ozgm.new/components/bitrix/menu/horizontal_multilevel/style.css?14954304964598 */
